// .logo-color {
//   background: linear-gradient(to right, #007cf0, #00dfd8) !important;
//   -webkit-background-clip: text !important;
//   -webkit-text-fill-color: transparent !important;
// }
.xl-text {
  font-size: 65px;
}

.md-text {
  font-size: 45px;
}

.sm-text {
  font-size: 1.25rem;
}
.navbar-brand span {
  // color: #1bd6b7 !important;
  color: var(--bs-primary);
}

.offcanvas-IT {
  color: #1bd6b7 !important;
  color: var(--bs-primary);
}

.offcanvas-bg-custom {
  background: green !important;
  background: #101418 !important;
  // background: black !important;
  opacity: 1 !important;
  z-index: 10000 !important;
}

.opacity-1 {
  opacity: 1 !important;
  z-index: 10000 !important;
}
@media (max-width: 992px) {
  .nav-link {
    text-align: center;
  }
  .opacity-1 {
    opacity: 1 !important;
    z-index: 10000 !important;
  }
}

.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url("../images/bg-banner2.jpg") left center no-repeat;
  background-size: cover;
  height: 600px;
}

.vertical-decoration {
  top: 12%;
  width: 24px;
}

.btn-banner {
  border-radius: 5px !important;
}
.hr-heading {
  display: inline-block;
  width: 3.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--bs-primary);
  opacity: 1;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.8;
  opacity: 0.97;
}

.details .vertical-decoration {
  top: 0;
  left: 0;
  width: 24px;
}

.details-2 .vertical-decoration {
  top: 5%;
  right: 0;
  width: 24px;
}

// Video Play Button
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 44px;
  border-radius: 50%;
  display: block;
  box-sizing: content-box;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  cursor: pointer;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  cursor: pointer;
  animation: pulse-border 1500ms ease-in-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  cursor: pointer;
  transition: all 200ms;
}

.video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 6px;
  left: 4px;
  width: 0;
  height: 0;
  // Draw button
  border-left: 26px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-modal .modal-dialog {
  max-width: 1150px;
  margin-top: 20px;
}

.project-modals .modal-dialog {
  max-width: 1150px;
  margin-top: 130px;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }

  .header {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
      url("../images/bg-banner2.jpg") right right no-repeat;
  }

  .video-points {
    padding: 0 !important;
    text-align: center;
  }

  .video-points .col-lg-4 {
    margin-bottom: 20px;
  }
}

// CUSTOM FORM
.input {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
}

.input:focus {
  background: transparent;
  // border-color: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 2px solid var(--bs-primary);
}

.input-select {
  // background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
}

.input-select:focus {
  // background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 2px solid var(--bs-primary);
}

// ===============PRICING CARDS==============

.cards-container {
  width: 100%;
  height: 100vh;
  // background: linear-gradient(to left, #1d335a, #142748, #0e1d3a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-cards {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.pricing-card {
  width: 300px;
  height: 500px;
  /* background: linear-gradient(to right, #1b2f54, #0f1f39); */
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 60px rgb(251, 251, 251, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
}

@media (max-width: 562px) {
  .pricing-card {
    width: 270px;
    height: 450px;
  }
}
.card-1 {
  transform: translateX(-15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim1 1s 1s linear forwards;
}

@keyframes cardAnim1 {
  0% {
    transform: translateX(-15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 562px) {
  .card-1 {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    animation: none;
  }
}
.card-2 {
  transform: translateY(-15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim2 1s 1s linear forwards;
}

@keyframes cardAnim2 {
  0% {
    transform: translateY(15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 562px) {
  .card-2 {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    animation: none;
  }
}

.card-3 {
  transform: translateX(15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim3 1s 1s linear forwards;
}

@keyframes cardAnim3 {
  0% {
    transform: translateX(15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 562px) {
  .card-3 {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    animation: none;
  }
}
.card-type {
  width: 220px;
  height: 40px;
  background-color: #ccc;
  transform: rotateZ(-90deg);
  position: absolute;
  top: 120px;
  left: -130px;
  border-radius: 25px 25px 0 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.3);
}

.card-bottom {
  width: 220px;
  height: 40px;
  background-color: #ccc;
  position: absolute;
  bottom: -40px;
  border-radius: 0 0 25px 25px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.3);
}

.card-top {
  width: 220px;
  height: 40px;
  background-color: #ccc;
  position: absolute;
  top: -20px;
  border-radius: 3px 3px 3px 3px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.3);
}

// .pricing-card:nth-child(1) .card-type {
//   background: linear-gradient(to right, #fd60dc, #ffa370);
// }

.card-1 .card-top {
  background: linear-gradient(to right, #007cf0, #00dfd8);
}
// .pricing-card:nth-child(2) .card-type {
//   background: linear-gradient(to right, #df3bfa, #6615fd);
// }

.card-2 .card-top {
  background: linear-gradient(to right, #7928ca, #ff0080);
}

// .pricing-card:nth-child(3) .card-type {
//   background: linear-gradient(to right, #00d9fc, #174bff);
// }

.card-3 .card-top {
  background: linear-gradient(to right, #ef6c01, #f9cb28);
}

.card-price {
  font-size: 70px;
  font-weight: 300;
}

.month {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin-top: -40px;
}

.list-item {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .list-item:nth-child(odd) {
//   background-color: rgba(9, 12, 33, 0.5);
// }

.list-item i {
  width: 20px;
  text-align: center;
  font-size: 18px;
  margin-right: 10px;
}

.list-item span {
  font-size: 14px;
  // text-transform: uppercase;
}

// .pricing-card:nth-child(1) .card-price,
// .pricing-card:nth-child(1) .month,
// .pricing-card:nth-child(1) .list i,
// .pricing-card:nth-child(1) .list span {
//   background: linear-gradient(to right, #fd60dc, #ffa370);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.card-1 .card-price,
.card-1 .month,
.card-1 .list i,
.card-1 .list span {
  background: linear-gradient(to right, #007cf0, #00dfd8);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .pricing-card:nth-child(2) .card-price,
// .pricing-card:nth-child(2) .month,
// .pricing-card:nth-child(2) .list i,
// .pricing-card:nth-child(2) .list span {
//   background: linear-gradient(to right, #df3bfa, #6615fd);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.card-2 .card-price,
.card-2 .month,
.card-2 .list i,
.card-2 .list span {
  background: linear-gradient(to right, #7928ca, #ff0080);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .pricing-card:nth-child(3) .card-price,
// .pricing-card:nth-child(3) .month,
// .pricing-card:nth-child(3) .list i,
// .pricing-card:nth-child(3) .list span {
//   background: linear-gradient(to right, #00d9fc, #174bff);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.card-3 .card-price,
.card-3 .month,
.card-3 .list i,
.card-3 .list span {
  background: linear-gradient(to right, #ef6c01, #f9cb28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-btn {
  width: 120px;
  height: 30px;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

// .pricing-card:nth-child(1) .card-btn
//  {
//   background: linear-gradient(to right, #fd60dc, #ffa370);
// }

.card-1 .card-btn {
  background: linear-gradient(to right, #007cf0, #00dfd8);
}

// .pricing-card:nth-child(2) .card-btn {
//   background: linear-gradient(to right, #df3bfa, #6615fd);
// }

.card-2 .card-btn {
  background: linear-gradient(to right, #7928ca, #ff0080);
}

// .pricing-card:nth-child(3) .card-btn {
//   background: linear-gradient(to right, #00d9fc, #174bff);
// }

.card-3 .card-btn {
  background: linear-gradient(to right, #ef6c01, #f9cb28);
}

// ===============END PRICING CARDS==========
